<div class="card-product">
  <% if cocktail.photos.attached? %>
    <%= cl_image_tag cocktail.photos.first.key %>
  <% else %>
    <img src="https://source.unsplash.com/featured/?cocktail <%= cocktail.name %>">
    <!-- <img src="http://loremflickr.com/200/200/cocktail?random=<%#= (1..100).to_a.sample %>" alt="random image"> --> <%# good %>
    <!-- <img src="http://loremflickr.com/200/200/<%#= cocktail.name %>" alt="random image"> --> <%# bad image %>
  <% end %>

  <div class="card-product-infos">
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    <p>
    Ingredients:
    <% cocktail.doses.each do |dose| %>
    <%= dose.ingredient.name %>
    <% end %>
    </p>
  </div>
</div>

