<ul class="list-group">
  <div class="d-flex justify-content-between"> <%# Ingredients & Add dose %>
    <h4>Ingredients</h4> <%# dose %>
    <%# new_cocktail_dose GET    /cocktails/:cocktail_id/doses/new %>
    <%= link_to 'Add an ingredient', new_cocktail_dose_path(cocktail.id) %> <%# dose %>
  </div>

  <% cocktail.doses.each do |dose| %>
    <li class="list-group-item d-flex justify-content-between"> <%# Content & delete icon %>
      <%= dose.ingredient.name %> -
      <%= dose.description %>

      <%# dose DELETE /doses/:id %>
      <%= link_to dose_path(dose.id), method: :delete, data: { confirm: "Are you sure to delete this ingredient?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>
