<div style="height:60px"></div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      <h1>Cocktail List</h1>
        <% @cocktails.each do |cocktail| %>
          <%= render "cocktails/card", cocktail: cocktail %> <%# pass cocktail to card!!!! %>
        <% end %>

      <%#= cl_image_tag "erusuuww1yqkhdcipwav", width: 400, height: 300, crop: :fill %> <%# Test only %>
      <%#= "Test the scrollbar: I love cocktails, I can drink everything you got!" * 100 %>
    </div>
  </div>
</div>
