// From lecture notes:
.home-banner {
  // background-image: url('http://loremflickr.com/800/400/cocktail');
  background-size: cover;
  background-position: center; // added
  height: 50vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  margin-bottom:20px; // added
}
